.square {
  width: 100px;
  height: 100px;
  background-color: black;
}
.triangle {
  width: 100px;
  height: 100px;
  background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0) 50%,
        #000 50.5%
      )
      no-repeat top left/50% 100%,
    linear-gradient(to bottom left, rgba(255, 255, 255, 0) 50%, #000 50.5%)
      no-repeat top right/50% 100%;
}

.rounded {
  border-radius: 50px;
}
.transition {
  transition: all 1s;
}
